@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

/*@import "navbar.css";
@import "login.css";
@import "hero.css";
@import "3dCard.css";
@import "searchbar.css";*/
@import "shoppingCart.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}

header{
    background: url(https://www.zeiss.com/content/dam/z/vis-b2c/reference-master/images/better-vision/understanding-vision/the-complexities-of-the-human-eye/zeiss-the-complexities-of-the-human-eye-h.jpg/_jcr_content/renditions/original.image_file.1920.960.0,160,1920,1120.file/zeiss-the-complexities-of-the-human-eye-h.jpghttps://www.zeiss.com/content/dam/z/vis-b2c/reference-master/images/better-vision/understanding-vision/the-complexities-of-the-human-eye/zeiss-the-complexities-of-the-human-eye-h.jpg/_jcr_content/renditions/original.image_file.1920.960.0,160,1920,1120.file/zeiss-the-complexities-of-the-human-eye-h.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}
ul{
    list-style: none;
}

.bg{
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 8px;
}